/* Simple reset */

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 1.25rem 1.5rem 1rem;
  background-color: rgb(254, 100, 73);
}

input[type="color"] {
  padding: 0.5rem;
  min-width: 3rem;
  height: 100%;
}

.demo-buttons {
  display: flex;
  flex: 1 0 max-content;
  gap: 1.75rem;
}

.demo-form {
  display: flex;
  gap: 1.75rem;
  overflow-x: scroll;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
}

button,
select,
input {
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

select {
  padding-right: 2rem;
}

input {
  width: 8rem;
}

button:hover,
select:hover,
input:hover {
  background-color: rgb(234, 234, 234);
}

button:active,
select:active {
  background-color: rgb(210, 210, 210);
}

.hidden {
  display: none;
}
